 :root {
  --main-font: "Roboto", sans-serif;
  --secondary-font: "Raleway", sans-serif;
  --main-color: #2196f3;
}

body {
  font-family: var(--main-font), "Raleway";
  color: var(--main-color);
  background-color: #ffffff;

} 

/*///////////COMPONENTS//////////*/
a {
  text-decoration: none;
  color: #000;
}

ul {
  list-style-type: none;
}
/*////////END COMPONENTS/////////*/

/*/////////////HEADER////////////*/
body {
    font-family: Roboto;
}

header {
    height: 80px;
    border: 1px solid;
    border-color: #eee;
}
.container{
  width:1200px;
  margin:0 auto;

}

.menu {
    height: 80px;
    width:1200px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: nowrap;
}

.logo-link {
    width: 145px;
    height: 31px;
    font-family: Raleway;
    font-weight: bold;
    font-size: 26px;
    letter-spacing: 0.03em;
    color: #000000;
    text-decoration: none;
    transition:color 250ms linear;
    
}


.web {
    color:var(--main-color);
    
}

nav {
  height:100%;
    min-width: 254px;
    margin-left: 93px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position:relative;
}

.agency-link{
    font-weight: 500;
    font-size: 14px;
    letter-spacing: 0.02em;
    color: #212121;
    text-decoration: none;
    transition:color 250ms linear;
}
.agency-link:hover, 
.agenccy-link:focus {
    color: var(--main-color);
    
}

.agency-link-active {
    color: var(--main-color);
    font-family:var(--secondary-font);
     font-weight: 500;
    font-size: 14px;
    letter-spacing: 0.02em;


}

.portfolio-link {
    font-weight: 500;
    font-size: 14px;
    letter-spacing: 0.02em;
    color: #212121;
    text-decoration: none;
    transition:color 250ms linear;
}

.portfolio-link-active{
    text-decoration: none;
    color: var(--main-color);
    font-family:var(--secondary-font);
     font-weight: 500;
    font-size: 14px;
    letter-spacing: 0.02em;
}

.agency-link-active::after,
.portfolio-link-active::after{
  content: "";
    position:absolute;
    height: 4px;
    background: var(--main-color);
    border-radius: 2px;
    bottom:0;
    left: 0; 
}

.agency-link-active::after{
  width:58px;
  height: 4px;


}

.portfolio-link-active::after{
  width:63px;
  height: 4px;
  left:99px;


}
.portfolio-link:active,
.portfolio-link:hover,
.portfolio-link:focus {
    color: var(--main-color);
    
}

.contact-link {
    font-weight: 500;
    font-size: 14px;
    letter-spacing: 0.02em;
    color: #212121;
    text-decoration: none;
    transition:color 250ms linear;
}
.logo-link:hover,
.logo-link:focus,
.contact-link:hover,
.contact-link:focus,
.mail:hover,
.mail:focus,
.tel:hover,
.tel:focus,
.logo-footer:hover,
.logo-footer:focus,
.mail-footer:hover,
.mail-footer:focus,
.tel-footer:hover,
.tel-footer:focus {
    color: var(--main-color);
    cursor: pointer;
    
}

.mail-icon:hover,
.mail-icon:focus,
.tel-icon:hover,
.tel-icon:focus{
  fill: var(--main-color);
 
}

.mail {
    margin-left: 371px;
    font-weight: 500;
    font-size: 14px;
    color: #757575;
    display: flex;
    justify-content: space-between;
    transition:color 250ms linear;
}

 .tel-icon,
.mail-icon{
  margin-right:10px;
  fill: #757575;
  transition:color 250ms linear;
  } 

.tel {
    margin-left: 50px;
    font-weight: 500;
    font-size: 14px;
    color: #757575;
    transition:color 250ms linear;
}

.slogan-section {
  width:100%;
    height: 600px; 
    
     background: #2F303A;
     background-image:linear-gradient(
                    rgba(47, 48, 58, 0.4),
                    rgba(47, 48, 58, 0.4)), 
                      url("../images/advantages-img.jpg");
                      background-repeat: no-repeat; 
                      background-size: cover;
                      background-position: center;                  
} 

.company-slogan {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
     width: 696px; 
 padding-left: 452px;
padding-top: 200px; 

}

.slogan {
    width: 696px;
    margin-bottom: 0px;
    justify-content: center;
    font-weight: 900;
    font-size: 44px;
    line-height: 1.4;
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    color: #FFFFFF;
}

.button-order {
    width: 200px;
    height: 50px;
    margin-top: 30px;
    background: var(--main-color);
    font-size: 16px;
    letter-spacing: 0.06em;
    padding: 0px;
    color: #FFFFFF;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    cursor: pointer;
}

.advantages-section {
    /* height: 195px; */
    padding-top: 94px;
   
}
.advantages {
    width: 1170px;
    

}
.advantages-icon{
width: 270px;
height: 120px;
background: #F5F4FA;
border-radius: 4px;
display:flex;
align-items: center;
justify-content: center;
margin-bottom: 30px;
}
.advantages-list {
    list-style: none;
    
    margin: 0px;
    display: flex;
    justify-content: space-between;
}

.lorem-ipsum {
    width: 270px;
}

.lorem-ipsum-darker {
    font-weight: bold;
    font-size: 14px;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #212121;
    margin:0px;
}

.lorem-ipsum-lighter {
    margin-top: 10px;
    margin-bottom: 0px;
    font-size: 14px;
    line-height: 1.7;
    letter-spacing: 0.03em;
    color: #757575;
} 

.what-we-do-section {
    height: 574px;
    padding-top: 94px;
    padding-bottom: 94px;
    display:flex;
    flex-direction: column;
     
  
}

.what-we-do {
    
    height: 386px;
    display:flex;
    flex-wrap:wrap;
    justify-content: center;
    align-content: space-between;
    
}

.what-we-do-examples{
 display:flex;
 justify-content:space-between;

} 

.what-we-do-card{
  position:relative;
  height:294px;

}

.what-we-do-text {
    font-weight: bold;
    font-size: 36px;
    letter-spacing: 0.03em;
    color: #212121;
    margin: 0px;
    flex-direction: column;
}

.product-type{
   line-height: 1.1;
    text-align: center;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #FFFFFF;
    height: 70px;
    position:absolute;
    background: rgba(47, 48, 58, 0.8);
    linear-gradient:#2F303ACC 80%;
    padding: 27px;

    
     bottom: 0;
    margin: 0;
    left: 0px;
    right: 0;
   
  
} 

.product-type-2{
   line-height: 1.1;
    text-align: center;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #FFFFFF;
    height: 70px;
    position:absolute;
    background: rgba(47, 48, 58, 0.8);
    linear-gradient:#2F303ACC 80%;
    padding: 27px;
   
    bottom: 0;
    margin: 0;
    left: 30px;
    right: 0;
} 
.product-type-3{
   line-height: 1.1;
    text-align: center;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #FFFFFF;
    height: 70px;
    position:absolute;
    background: rgba(47, 48, 58, 0.8);
    linear-gradient:#2F303ACC 80%;
    padding: 27px;
    bottom: 0;
    margin: 0;
    right: 0;
    left:30px;
    
    
} 


.design, .color-picture {
    margin-left: 30px;
}
/* .code, .design, .color-picture{
  flex-direction: row;} */

.our-team-section {
    height: 648px;
    background: #F5F4FA;
}
.our-team {
    padding-top: 94px;
    padding-bottom: 94px;
    justify-content: center;
}

.our-team-text {
    font-weight: bold;
    font-size: 36px;
    text-align: center;
    letter-spacing: 0.03em;
    color: #212121;
    margin: 0px;
}

.team-members-list {
    list-style: none;
    margin-top: 50px;
    margin-bottom: 0;
    margin-right: 0px;
    padding: 0;
    width: 1170px;
   /*height: 368px;*/
    display: flex;
    justify-content: space-between;
}

.team-member {
    background: #FFFFFF;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;
}

.member-name {
    font-weight: 500;
    font-size: 16px;
    text-align: center;
    letter-spacing: 0.03em;
    color: #212121;
    margin: 0px;
    margin-top: 30px;
}

.member-class {
    font-size: 16px;
    text-align: center;
    letter-spacing: 0.03em;
    color: #757575;
    margin: 0px;
    margin-top: 10px;
}

.social {
width: 206px;
height: 44px;
margin: 16px auto;
display:flex;
align-items: center;
justify-content: center;
}
.social-icon,
.social-icon-footer{
 width: 44px;
 height: 44px;
 border-radius: 50%;
 display: flex;
 justify-content: center;
 align-items: center;
 fill:#fff;
  transition-property:var(--main-color);
  transition-duration: 250ms;
}
 .social-icon:hover,
 .social-icon:focus,
 .social-icon-footer:hover,
 .social-icon-footer:focus{
 background-color:var(--main-color);
 cursor:pointer;
 fill:#fff;  
 

 }

 .social-icon:hover > .instagram,
 .social-icon:hover > .twitter,
 .social-icon:hover > .facebook,
 .social-icon:hover > .linkedin{
   fill:#fff;
   
 }

 .instagram,
 .twitter,
 .facebook,
 .linkedin{
   fill:#AFB1B8;
 }
.our-customers-section{
  display: flex;
  margin:0 auto;
  width:1170px;
  flex-direction: column;
 
}
.customers-icons-container{
  display:flex;
flex-direction: row;
margin-bottom: 83px;

}
.our-customers-text{
font-size: 36px;
line-height: 1,17;
text-align: center;
letter-spacing: 0.03em;
color: #212121;
margin-top:102px;
margin-bottom: 50px;
flex-direction: column;
}
.customer-icon{
    width: 170px; 
    height: 92px;
    border: 1px solid #AFB1B8;
    border-radius: 4px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin:0 auto; 
    flex-direction: row;
    
  
  }
.customer-icon:hover,
.customer-icon:focus{
  border-color: var(--main-color);
  cursor: pointer;
  
}

.customer-svg{
  fill:#AFB1B8;
   transition-property:var(--main-color);
  transition-duration: 250ms;
  
}
 .customer-svg:hover,
 .customer-svg:focus{
   fill:var(--main-color);
    cursor: pointer;
    
 }
 
  
.footer-container{
  width:1200px;
   margin:0 auto;
   display: flex;

}

.footer-section {
    
    background: #2F303A;
    display:flex;
}

.footer {
     width:1200px;
     height:252px;
    padding-top: 60px;
    padding-bottom: 60px;
display: flex;
flex-direction: column;}


.logo-footer {
    font-family: Raleway;
    font-weight: bold;
    font-size: 26px;
    line-height: 31px;
    letter-spacing: 0.03em;
    text-decoration: none;
    color: #fff;
     transition:color 250ms linear;
    
}

.span-studio {
    color: #FFFFFF;
   
}

.address {
    width: 255px;
    height: 81px;
    margin-top: 20px;
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    justify-content: space-between;
    font-style: normal;
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 0.03em; 
    flex-wrap: nowrap;
}

.address-footer {
    color: #FFFFFF;
}

.mail-footer, .tel-footer {
    color: rgba(255, 255, 255, 0.6);
    transition:color 250ms linear;
}
/*////////////PORTFOLIO///////////*/
.portfolio-container {
   background: #ffffff;
}
.social-footer{
  text-transform: uppercase;
    font-size: 14px;
    line-height: 1.1;
    letter-spacing: 0.03em;
    margin:0 auto;
    padding-left: 70px;
     margin-right:863px;
    color:#fff;
  display:flex;
  flex-direction: column;
}

.social-footer-text{
  margin-top:72px;
  margin-bottom:20px; 
}
.social-icon-footer{
  background-color: rgba(255, 255, 255, 0.1);
   transition-property:var(--main-color);
  transition-duration: 250ms;
}


.instagram-footer,
.twitter-footer,
.facebook-footer,
.linkedin-footer{
  fill:#fff;
}

.social-footer-icons{
  display:flex;
   width: 206px;
    height: 44px;
    /* margin-top: 20px; */
    justify-content: space-between;
}
/*PORTFOLIO FILTERS*/

.filters-list {
  width: 572px;
  height: 54px;
  margin: 0 auto;
 margin-top: 94px;
 margin-bottom:34px;
 padding:0px;
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.button-1,
.button-2,
.button-3,
.button-4,
.button-5 {
  height: 38px;
  background-color: #f5f4fa;
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
  border-radius: 4px;
  border: none;
  cursor: pointer;
  font-weight: 500;
  font-style: normal;
  font-size: 16px;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
  padding: 6px 22px;
   transition:color 250ms linear;
}

.button-1:hover,
.button-1:focus,
.button-2:hover,
.button-2:focus,
.button-3:hover,
.button-3:focus,
.button-4:hover,
.button-4:focus,
.button-5:hover,
.button-5:focus {
  background-color: var(--main-color);
  color: #ffffff;
  cursor: pointer;
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
  border-radius: 4px;
  border: none;
  transition-property:var(--main-color);
  transition-duration: 250ms;
  
}
.projects{
  display:flex;

}
.main-projects-list {
  display: flex;
 flex-wrap:wrap;
  /* margin-top: -10px; */
  margin-bottom:64px;
 margin-left:190px;
 
}

.project-list{
   /* margin-top:10px; */
  margin-bottom:30px;
margin-right:10px;
margin-left:20px;
  /* flex-basis: calc(100% / 3 - 10px); */
background: #FFFFFF;
border: 1px solid #EEEEEE;
box-sizing: border-box;
height: 404px;
 transition: 250ms;
 cursor:pointer;
 

}

.project-list:hover .project-overlay,
.project-list:focus ,project-overlay{
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
 background: rgba(33, 150, 243, 0.9);
  color:#fff;
  transform: translateY(0);
  height: 294px; 
  
}

.project-card{
 margin:0; 
}
.project-list{
 position:relative;
 overflow:hidden; 
}


.project-name {
  color: #212121;
  font-size: 18px;
line-height: 36px;
margin:0px; 
padding-left: 24px; 
padding-top: 20px; 
height: 36px;

}
.project-type {
  color: #757575;
  font-size: 16px;
line-height: 30px;
margin:0 auto;
padding-left: 24px;
letter-spacing: 0.03em;
}
.project-description{
  width: 322px;
  height: 70px;

}  
.project-overlay{
/* overflow: hidden; */
 position: absolute;
    width: 100%;
    height: 100%;
     top: 0;
    /* left: 0;  */
    background: rgba(33, 150, 243, 0.9);
    color: #fff;
    font-size: 18px;
    line-height: 1.5;
    letter-spacing: 0.03em;
    display: flex;
    align-items: center;
     padding: 49px 24px; 
    transform: translateY(100%);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
    


.technocrack-bulsht{
  width: 301px;
height: 196px;
/* left: 239px;
top: 311px; */
} 

.backdrop {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.2);
    display: flex;
    align-content: center;
    transition: opacity 1s cubic-bezier(0.19, 1, 0.22, 1);
}

.modal {
    width: 528px;
    height: 581px;
    margin: auto;
    background: #FFFFFF;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 4px;
    position: relative;
}

.close-button {
    position: absolute;
    width: 30px;
    height: 30px;
    right: 8px;
    top: 8px;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 50%;
    justify-content: center;
    align-content: center;
    margin: 0;
    padding: 0;
}

.close-button:hover {
    background-color: #fff;
    box-shadow: none; 
}

.close-button-icon {
    fill: #000000;
    margin: 5px;
}

.is-hidden {
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    transition: opacity 1s cubic-bezier(0.19, 1, 0.22, 1), visibility 1s cubic-bezier(0.19, 1, 0.22, 1);
}